@tailwind base;
@tailwind components;

/* Your custom styles here */
.example {
    /* Light mode styles */
    background-color: white;
    color: black;
}

.dark .example {
    /* Dark mode styles */
    background-color: black;
    color: white;
}

@tailwind utilities;